* {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, p, a,
img, ul, li, form, label, aside, footer,
header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

aside, footer, header, nav {
  display: block;
}

body {
  display: grid;
  grid-template: "head head" 150px "aside main" 1fr "aside footer" 65px/250px 1fr;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1;
  background: url(../images/background.png) top no-repeat;
}

header {
  grid-area: head;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1.5fr 1.25fr 1fr;
  border-bottom: 2px solid #4f4c4e;
}

aside {
  grid-area: aside;
  border-right: 2px solid #4f4c4e;
}

main {
  grid-area: main;
  border-bottom: 2px solid #4f4c4e;
}

footer {
  grid-area: footer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}
a:hover {
  text-decoration: underline;
}