* {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, p, a,
img, ul, li, form, label, aside, footer,
header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

aside, nav {
  display: block;
}

html {
  height: 100%;
}

html, body {
  width: 100%;
}

body {
    padding: 0 10px 10px;
    min-height: 100%;
    font-family: "Roboto", Arial, sans-serif;
    color: #ffffff;
    line-height: 1;
    background: linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(255,255,255,0) 95%) top / 100% 10000px no-repeat, url(../images/background.png) top no-repeat;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
  
    &>a {
      margin-left: 50px;
    }
  
    & .logo {
        height: 70px;
    }
  
    & .wrapper {
      margin: 0 auto;
  
      & .social {
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        row-gap: 10px;
        flex-wrap: wrap;
        margin: 0 20px;
        height: 50px;
        color: #1972de;
      }
    }
  
    & .burger {
      display: none;
      flex-shrink: 0;
      margin-right: 50px;
      padding: 5px;
      cursor: pointer;
      background: #0000007f;
      border: none;
      border-radius: 5px;

      &:focus-visible {
        outline: 2px solid #ffffff;
        outline-offset: 5px;
      }
  
      & span {
        display: block;
        width: 50px;
        height: 8px;
        background: #1972de;
        border-radius: 5px;
        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
}

.logo {
  &_size {
      &_header {
          height: 55px;
          vertical-align: bottom;
      }
  }
}

.content-wrapper {
    display: flex;
}

.fillable {
    flex-grow: 1;
}

aside {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 270px;
    min-height: calc(100vh - 80px);
    text-align: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 2px solid #4f4c4e;
    background: #211e21f0;
    font-size: 16px;
    font-weight: 600;
    transition:  0.3s;

    & .link-list {
        width: 270px;
    }

    & .wrapper {
        margin-bottom: 30px;

        & div {
            padding: 15px 0;
        }
    
        & div:not(:last-of-type) {
            border-bottom: 2px solid #4f4c4e;
        }
    }

    & nav {
        text-align: start;
    }
}

.feedback {
    height: 100px;
    text-align: start;
    padding-left: 49px;
    border-top-left-radius: 1rem;
    border-bottom: 2px solid #4f4c4e;
}

.main-wrapper {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: min-content;
    background: #211e21f0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.statistic {
    padding-top: 5px;
    height: 50px;
    border-top-right-radius: 1rem;
    border-bottom: 2px solid #4f4c4e;


    & img {
        margin: 0 20px 0 10px;
        height: 40px;
        vertical-align: middle;
    }

    & span {
        display: inline-block;
    }
}

.navigation {
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 0.3;
    border-bottom: 2px solid #4f4c4e;
    overflow: hidden;
    transition: 0.3s;

    & .link-list {
        transition: 0.3s;
    }

    & img {
        vertical-align: baseline;
        margin-right: 10px;
    }

    & span {
        display: inline-block;
        width: 80%;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: start;
    }

    & button {
        display: none;
        margin: 0 auto;
        width: 35px;
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }
}



main {
    flex-grow: 1;
    border-bottom: 2px solid #4f4c4e;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 65px;
    font-size: 14px;
    font-weight: 700;

    & .wrapper {
        &__phone-system {
            & img {
                width: 20px;

                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
        }

        &__card-system {
            padding: 0 10px;
            height: 30px;

            & img {
                height: 100%;
                
                &:not(:last-child) {
                    padding-right: 15px;
                }
            }
        }

        &__links {
            display: flex;
            justify-content: space-between;
            width: 55%;
        }
    }

    & .flag {
        width: 25px;
    }
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        text-decoration: underline;
    }
}

.button {
  width: 170px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #3b3c3f;
  background: #e7e7ee;
  border-radius: 0.5em;
  border: 3px solid #e7e7ee;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
      border-right-color: #919191;
      border-bottom-color: #919191;
      text-decoration: underline;
  }

  &:active {
      border-top-color: #919191;
      border-left-color: #919191;

      &:hover {
          border-right-color: #e7e7ee;
          border-bottom-color: #e7e7ee;
      }
  }
}

.position {
  &_center {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
  }
}

@media screen and (max-width: 1400px) {
    .navigation {
        & span {
            width: 70%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .navigation {
        & .link-list {
            padding: 0;
        }
        & img {
            margin-right: 7px;
            width: 24px;
            height: 24px;
        }
        & span {
            width: 75%;
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 1100px) {
    header {
        &>a {
            margin-left: 0;
        }

        & .burger {
            display: block;
            margin-right: 0;
        }
    }

    aside {
        width: 0;
        overflow: hidden;
        opacity: 0;
    }

    .main-wrapper {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
}

@media screen and (max-width: 850px) {
    footer {
        flex-wrap: wrap;
        height: 90px;

        & .wrapper__links {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 740px) {
    .navigation {
        position: relative;
        height: 30px;

        & .link-list {
            position: relative;
            top: -90px;
            flex-direction: column;
            gap: 5px;
        }
        & img {
            vertical-align: middle;
        }
        & span {
            font-size: 14px;
            line-height: 18px;
        }
        & button {
            display: block;
            position: relative;
            top: -170px;

            &::before, &::after {
                content: "";
                position: absolute;
                top: 20px;
                left: 50%;
                width: 25px;
                height: 4px;
                background: #4f4c4e;
                transform-origin: left;
                cursor: pointer;
            }

            &::before {
                transform: rotate(-45deg);
            }
    
            &::after {
                transform: rotate(-135deg);
            }
        }
    }
}

@media screen and (max-width: 500px) {
    footer {
        height: 90px;
        padding-bottom: 5px;

        & .wrapper {
            &__phone-system {
                & img {
                    width: 15px;
    
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
    
            &__card-system {
                height: 20px;
    
                & img {
                    height: 100%;
                    
                    &:not(:last-child) {
                        padding-right: 10px;
                    }
                }
            }
        }

        & .wrapper__links {
            flex-wrap: wrap;
            row-gap: 10px;
            font-size: 12px;

            & span {
                flex-basis: 200px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    header {
        & > a {
            margin-left: 0;
        }
        & .burger {
            margin-right: 0;
        }
    }

    .statistic {
        & img {
            vertical-align: top;
        }
        & span {
            margin-top: 4px;
            width: 260px;
        }
    }
}

@media screen and (max-width: 380px) {
    .statistic {
        & span {
            width: 180px;
        }
    }
}