.link-list {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    // width: 100%;
    // height: 100%;
    border-radius: 8px;
    color: #FFFFFF;

    &__logo {
        width: 60%;
        margin-bottom: 0.2em;
        padding: 0.3em 0.5em;
        border-radius: 3px;

        &_mapsme {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;

            & img {
                width: 50px;
            }
            & span {
                white-space: pre-line;
                text-align: left;
                margin-right: -36px;
                & span {
                    font-size: 45px;
                    transform: scaleX(0.6);
                    letter-spacing: -2.2px;
                    display: inline-block;
                    transform-origin: left;
                }
            }
        }
        &_binance {
            width: 150px;
            & + a {
                word-wrap: break-word;
            }
        }
    }

    &__icon {
        margin-right: 0.4em;
        width: 1.2em;
        height: 1.2em;
        vertical-align: bottom;

        &_size_m {
            width: 2em;
            height: 2em;
            vertical-align: middle;
        }
    }
}

.link-list {
    &_aside-list {
        flex-direction: column;
        gap: 0.9em;
    }

    &__logo {
        &_color {
            &_purple {
                background: #7358e5;
            }

            &_black {
                background: #000000;
            }
        }
        &_size {
            &_mapsme {
                width: 50px;
            }
        }
    }

    &_background {
        &_black {
            background: #1d1e20;
        }
    }
}

@media screen and (max-width: 720px) {
    .link-list {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }
}