.footer {
    &__wrapper {
        &_phone-system {
            margin: 0 15px;
            & img {
                width: 20px;

                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
        }
        &_card-system {
            padding: 0 10px;
            height: 30px;

            & img {
                height: 100%;
                
                &:not(:last-child) {
                    padding-right: 15px;
                }
            }
            
        }
    }
}