.button {
    width: 170px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #3b3c3f;
    background: #e7e7ee;
    border-radius: 0.5em;
    border: 3px solid #e7e7ee;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        border-right-color: #919191;
        border-bottom-color: #919191;
        text-decoration: underline;
    }

    &:active {
        border-top-color: #919191;
        border-left-color: #919191;

        &:hover {
            border-right-color: #e7e7ee;
            border-bottom-color: #e7e7ee;
        }
    }
}

.icon {
    &_size {
        &_header-heart {
            margin-right: 20px;
            height: 50px;
            vertical-align: middle;
        }
    }
}

.logo {
    &_size {
        &_header {
            height: 55px;
            vertical-align: bottom;
        }
    }
}

.position {
    &_center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.text {
    &_size {
        &_s {
            font-size: 11px;
            font-weight: 700;
        }

        &_m {
            font-size: 12px;
            font-weight: 700;
        }

        &_l {
            font-size: 16px;
            font-weight: 500;
        }
    }

    &_color {
        &_white {
            color: #FFFFFF;
        }
    }
}