.footer__wrapper_phone-system {
  margin: 0 15px;
}
.footer__wrapper_phone-system img {
  width: 20px;
}
.footer__wrapper_phone-system img:not(:last-child) {
  margin-right: 25px;
}
.footer__wrapper_card-system {
  padding: 0 10px;
  height: 30px;
}
.footer__wrapper_card-system img {
  height: 100%;
}
.footer__wrapper_card-system img:not(:last-child) {
  padding-right: 15px;
}